<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <div align="center"><h1 style="color: red;" id="s404">404</h1></div> 
    <div align="center"><h2 style="color: black; font-style: italic;"><%- errType %></h2></div>
    <div align="center"><img src="https://api.weblutions.com/discord/invite/luppux/"></div>
    <style>
        .center {
            display: flex; /* Konteyneri esnek bir kutu olarak ayarlar */
            justify-content: center; /* İçeriği yatayda ortalar */
            align-items: center; /* İçeriği dikeyde ortalar */
            flex-direction: column;
            height: 100vh; /* Tam ekran yüksekliği ayarlar */
        }

        .s404 {
            font-size: 12em;
        }
    </style>
</body>
</html>